extends layout
block content
    h1= title

    if (toShow == null)
        h2 No instance to update
    else
        - let eggid = toShow._id
        - let egg_name = toShow.egg_name
        - let egg_size = toShow.egg_size
        - let egg_cost = toShow.egg_cost

        div.row(class='mb-2')
            div.mr-1 ID is
            div #{eggid}
        - let actionid = "/resource/egg/" + eggid
        form(id='eggForm', action= actionid, method="PUT")
            div.form-group
                label.eggAttr(for='egg_name') egg_name
                input#egg_name(type='text', name='egg_name', value= egg_name )
            div.form-group
                label.eggAttr(for='egg_size') egg_size
                input#egg_size(type='text', name='egg_size', value= egg_size )
            div.form-group
                label.eggAttr(for='egg_cost') egg_cost
                input#egg_cost(type='number', name='egg_cost', value= egg_cost )
            input(type="submit")
        script.
            document.forms['eggForm'].addEventListener('submit', (event) => {
                event.preventDefault();
            // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Update succeded")
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
                });    
            });